extends layout

block content
    .inner
        form.form(method="post")
            h2 Reset your password
            label(for="password") New password
            input(type="password" name="password")
            label(for="password-confirm") Confirm New password
            input(type="password" name="password-confirm")
            input.button(type="submit" value="Reset Password -<")